<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="form">
            <form [formGroup]="formLogin" class="panel">
                <div class="header"><h2>Iniciar sesión</h2></div>
                <div class="group">
                    <label>Usuario</label><br>
                    <input type="text" id="username" formControlName="username">
                </div>
                <div class="group">
                    <label>Contraseña</label><br>
                    <input type="password" id="password" formControlName="password">
                </div>
                <div class="group">
                    <button (click)="login()">Entrar</button>
                </div>
            </form>
    </div>
</body>
</html>